<header class="header">
  <h1 class="header-title">MeiliSearch + Angular InstantSearch</h1>
  <p class="header-subtitle">Search in platon sessions</p>
</header>

<div class="container">
  <ais-instantsearch [config]="config">
    <div class="search-panel">
      <div class="search-panel__filters">
        <ais-configure [searchParameters]="{ hitsPerPage: 50, maxValuesPerFacet: 500 }"></ais-configure>
        <h2>Date</h2>
        <ais-numeric-menu
          attribute="timestamp"
          [items]="dateMenu"
        ></ais-numeric-menu>
        <h2>Year</h2>
        <ais-refinement-list attribute="year" sort-by="name"></ais-refinement-list>
        <h2>Universes</h2>
        <ais-refinement-list attribute="universes"></ais-refinement-list>
        <h2>Trainer</h2>
        <ais-refinement-list attribute="main_trainer"></ais-refinement-list>
        <h2>Trainer agency</h2>
        <ais-refinement-list attribute="main_trainer_company_name"></ais-refinement-list>
        <h2>Clients</h2>
        <ais-refinement-list attribute="registered_clients"></ais-refinement-list>
        <h2>Location type</h2>
        <ais-refinement-list attribute="location_type" [transformItems]="transformItems"></ais-refinement-list>
        <h2>Type</h2>
        <ais-refinement-list attribute="type" [transformItems]="transformItems"></ais-refinement-list>
        <h2>Language</h2>
        <ais-refinement-list attribute="language"></ais-refinement-list>
        <h2>Evaluation</h2>
        <ais-rating-menu attribute="overall_evaluation"></ais-rating-menu>
        <h2>Prix</h2>
        <ais-range-input attribute="total_price_in_euros" currency="€"></ais-range-input>
        <h2>Spécifications</h2>
        <ais-toggle
          attribute="exclusive"
          label="Exclusive"
        ></ais-toggle>
        
        <ais-toggle
          attribute="certifying"
          label="Certifying formation"
        ></ais-toggle>
        <ais-toggle
          attribute="publish_as_new"
          label="New formation"
        ></ais-toggle>
        <ais-toggle
          attribute="official"
          label="Official formation"
        ></ais-toggle>
        <ais-toggle
          attribute="material_ready"
          label="Material Ready"
        ></ais-toggle>
      </div>

      <div class="search-panel__results">
        <div class="searchbox">
          <ais-search-box placeholder=""></ais-search-box>
        </div>
        <div class="search-panel__stats">
          <ais-stats></ais-stats>
          <!-- "title", "main_trainer", "total_price_in_euros", "timestamp", "overall_evaluation" -->
          <ais-sort-by
          [items]="[
            { value: 'sessions', label: 'Featured' },
            { value: 'sessions:title:asc', label: 'Title asc.' },
            { value: 'sessions:title:desc', label: 'Title desc.' },
            { value: 'sessions:main_trainer:asc', label: 'Main trainer asc.' },
            { value: 'sessions:main_trainer:desc', label: 'Main trainer desc.' },
            { value: 'sessions:total_price_in_euros:asc', label: 'Price asc.' },
            { value: 'sessions:total_price_in_euros:desc', label: 'Price desc.' },
            { value: 'sessions:timestamp:asc', label: 'Date asc.' },
            { value: 'sessions:timestamp:desc', label: 'Date desc.' },
            { value: 'sessions:overall_evaluation:asc', label: 'Evaluation asc.' },
            { value: 'sessions:overall_evaluation:desc', label: 'Evaluation desc.' },
          ]"
        ></ais-sort-by>
        </div>
        <div class="search-panel__stats">
          <ais-current-refinements [excludedAttributes]="['timestamp', 'overall_evaluation', 'certifying', 'exclusive', 'publish_as_new', 'official', 'material_ready']"></ais-current-refinements>
          <ais-clear-refinements></ais-clear-refinements>
        </div>

        <ais-infinite-hits>
          <ng-template let-hits="hits">
            <div *ngIf="hits.length === 0">
              No results found matching <strong></strong>.
            </div>
            <ol class="ais-Hits-list">
              <li *ngFor="let hit of hits" class="ais-Hits-item">
                <div>
                  <div class="hit-name">
                    <ais-highlight attribute="title" [hit]="hit"></ais-highlight>
                    <span *ngIf="hit.subject"> (<ais-highlight attribute="subject" [hit]="hit"></ais-highlight>)</span>
                    <span class="hit-pictos">
                      <img
                      *ngIf="hit.publish_as_new"
                      alt="icon for New Formation"
                      title="New Formation"
                      src="/assets/pictos/new.svg"
                    />
                    <img
                    *ngIf="hit.certifying"
                    alt="icon for Certifying formation"
                    title="Certifying formation"
                      src="/assets/pictos/certifying.svg"
                    />
                    <img
                    *ngIf="hit.official"
                    alt="icon for Official formation"
                    title="Official formation"
                      src="/assets/pictos/official.svg"
                    />
                    <img
                    *ngIf="hit.exclusive"
                    alt="icon for Exclusive formation"
                    title="Exclusive formation"
                      src="/assets/pictos/zenika.png"
                    />
                    <img
                    *ngIf="hit.location_type === 'REMOTE'"
                    alt="icon for Remote session"
                    title="Remote session"
                      src="/assets/pictos/remote.svg"
                    />

                    </span>
                  </div>
                  <div class="hit-subtitle">
                    <div class="hit-date">{{hit.start_date | date }} ({{hit.duration_in_days}} days)</div>
                    <div class="hit-universes"><span *ngFor="let universe of hit.universes; let index = index">
                      <ais-highlight
                        [attribute]="'universes.'+ index"
                        [hit]="hit"
                      ></ais-highlight>
                    </span></div>
                  </div>
                  <div class="hit-description">
                    <ais-highlight
                      attribute="main_trainer"
                      [hit]="hit"
                    ></ais-highlight>
                    (<ais-highlight
                      attribute="main_trainer_company_name"
                      [hit]="hit"
                    ></ais-highlight>)
                    
                    <span *ngFor="let trainer of hit.additional_trainers; let index = index">,&nbsp;
                      <ais-highlight
                        [attribute]="'additional_trainers.'+ index"
                        [hit]="hit"
                      ></ais-highlight>
                    </span>
                  </div>
                  <div class="hit-description">
                    <span *ngFor="let client of hit.registered_clients; let index = index; let last = last">
                      <ais-highlight
                        [attribute]="'registered_clients.'+ index"
                        [hit]="hit"
                      ></ais-highlight>{{!last ? ',&nbsp;':''}}
                    </span>
                  </div>
                  <div class="hit-footer">
                    <div class="hit-price">{{hit.total_price_in_euros | currency:'EUR' }}</div>
                    <div class="hit-rating">{{hit.overall_evaluation}}</div>
                    <div class="hit-type">{{labels[hit.location_type]}}</div>
                    <div class="hit-students">{{hit.number_of_confirmed_students}} students (+ {{hit.number_of_unconfirmed_students}})</div>
                    <div class="hit-city">{{labels[hit.location_city]}}</div>
                    <div class="hit-type">{{labels[hit.type]}}</div>
                  </div>
                </div>
              </li>
            </ol>
          </ng-template>
        </ais-infinite-hits>

        <div class="pagination">
          <ais-pagination></ais-pagination>
        </div>
      </div>
    </div>
  </ais-instantsearch>
</div>
