.header {
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 0.5rem 1rem;
    background-image: linear-gradient(to right, #f03774, #ee2238);
    color: #fff;
    margin-bottom: 1rem;
  }
  
  .ais-Hits-item {
    margin-bottom: 1em;
    align-items: stretch;
    flex-direction: column;
  }

  
  .hit-name {
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  .hit-description {
    color: gray;
    margin-bottom: 0.5em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  .header a {
    color: #fff;
    text-decoration: none;
  }
  
  .header-title {
    font-size: 1.2rem;
    font-weight: normal;
  }
  
  .header-title::after {
    content: " ▸ ";
    padding: 0 0.5rem;
  }
  
  .header-subtitle {
    font-size: 1.2rem;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .search-panel {
    display: flex;
  }
  
  .search-panel__filters {
    flex: 1;
  }
  
  .search-panel__results {
    flex: 3;
  }

  .search-panel__stats {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: baseline;
      margin-bottom: 1em;
  }

  .hit-subtitle {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;

    .hit-universes span {
        margin-left: 1em;
    }
  }

  .hit-pictos {
      float: right;
  }
  .hit-pictos img {
    height: 1rem;
    margin: 0 0.5rem;
  }

  .hit-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
  .searchbox {
    margin-bottom: 2rem;
  }
  
  .pagination {
    margin: 2rem auto;
    text-align: center;
  }

::ng-deep .ais-ToggleRefinement {
    padding: 0 1em;
}

::ng-deep .ais-RefinementList-labelText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
}

::ng-deep .ais-CurrentRefinements-delete {
    line-height: inherit;
}
  